:root{
    /* Fonts */
    --main-font-family: 'Roboto', sans-serif, system-ui, -apple-system;
    --main-container-font-family: 'Roboto', sans-serif;
    --main-font-size: 1rem;
    --main-h1-font-size: 2.2rem;
    --main-h2-font-size: 3rem;
    --main-h3-font-size: 1.7rem;
    --main-p-font-size: 1.4rem;
    --main-letter-spacing: 0.5px;

    
    /* Colors */
    --main-black-color: #000;
    --main-bg-color: #959595;
    --main-section2-bg-color: #531de9;
    --main-header-bg-color: #793b00;
    --main-header-text-color: rgb(255, 255, 255);
    --main-text-orange-color: #ff9d00;
    --main-nav-hover-color: #ff9d00;
    --main-text-color: #ffffff;

    /* Shadows */
    --main-header-box-shadow: 0 4px 14px rgb(0, 0, 0);
    --main-logo-text-shadow: 
    2px 2px 2px black,
    2px 2px 2px black,
    2px 2px 2px black,
    2px 2px 2px black,
    0 0 7px rgb(255, 157, 0),
    0 0 7px rgb(255, 157, 0),
    0 0 7px rgb(255, 157, 0);
    --main-text-shadow: 
    2px 2px 2px black, 
    2px 2px 2px black,  
    2px 2px 2px black;
    --main-text-shadow-h2: 
    5px 4px 3px rgb(0, 0, 0),
    5px 4px 3px rgb(1, 0, 0),
    1px 1px .1em rgb(0, 4, 255),
    -1px -1px .1em rgb(0, 4, 255),
    0 0 0.27em rgb(0, 166, 255),
    0 0 0.27em rgb(0, 166, 255);
    --main-card-shadow: 
    0 8px 14px rgba(0, 0, 0, 1),
    6px 8px 14px rgba(0, 0, 0, 1);
    

    /* Variables */
    --main-linear-gradient:linear-gradient(rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.5));
    --main-transition: .2s ease-in-out;
    --main-link-color: #2600ff;
    --main-link-hover-color: #0056b3;

    /* Borders */
    --main-border-radius: 0.25rem;
    --main-max-width: 1200px;
    --main-line-height: 1.5;

    --main-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    --main-container-padding: 15px;
    --main-container-bg-color: #fff;
    --main-container-border: 1px solid #ccc;
    --main-container-line-height: 1.5;
    --main-container-letter-spacing: 0.5px;
    --main-container-text-color: #333;
    --main-container-link-color: #007bff;
    --main-container-border-color: #ccc;
    --main-container-border-radius: 0.25rem;
    --main-container-max-width: 1300px;
    --main-container-width: calc(100% - 30px);
}

*,
::after,
::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--main-font-family);
    font-size: var(--main-font-size);
    line-height: var(--main-line-height);
    letter-spacing: var(--main-letter-spacing);
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

h1{
    font-size: var(--main-h1-font-size);
}

h2{
    font-size: var(--main-h2-font-size);
}

h3{
    font-size: var(--main-h3-font-size);
}

a{
    text-decoration: none;
    color: var(--main-link-color);
    transition: var(--main-transition);
}

section{
    height: 100vh;
}

.width-display{
    max-width: var(--main-max-width);
    margin: 0 auto;
}

.artes-sacro-style{
    text-shadow: var(--main-logo-text-shadow);
}

/* Header Section and Nav ================================================================================================================================================> */

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-header-bg-color);
    box-shadow: var(--main-header-box-shadow);
    padding: 10px 0;
    border-bottom: 6px solid black ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

#company-name{
    font-size: 2.1rem;
    font-weight: bold;
    color: var(--main-header-text-color);
    margin-left: 15px;
    text-shadow: var(--main-logo-text-shadow);
}

#logo{
    display: inline-block;
    margin-left: 15px;
    position: relative;
    top: 4px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 15px;
}

#nav-links li{
    margin: 0 15px;
}

#nav-links a{
    color: var(--main-header-text-color);
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: var(--main-logo-text-shadow);
    transition: var(--main-transition);
}

#nav-links a:hover{
    color: var(--main-nav-hover-color);
}


/* Home Section ================================================================================================================================================> */

#home{
    min-height: 1140px;
    padding: 120px 10px 30px;
    background-image: var(--main-linear-gradient), url('../resources/section-1-background-img.jpg');
    background-size: cover;
    background-position: center;
    color: var(--main-text-color);
}

#home h1{
    text-align: center;
    margin-bottom: 15px;
}

#slogan{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 90px;
    color: var(--main-text-orange-color);
    text-shadow: var(--main-text-shadow);
}

.benifit{
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.benifit-text{
    margin-left: 15px;
}

.benifit-text h3{
    color: var(--main-text-orange-color);
}

.benifit-text p{
    font-size: var(--main-p-font-size);
    text-shadow: var(--main-text-shadow);
}

/* Products Section
================================================================================================================================================>  */

#products{
    padding: 120px 10px 30px;
    background-color: var(--main-section2-bg-color);
    color: var(--main-text-color);
}

#products h2{
    margin-bottom: 15px;
    text-shadow: var(--main-text-shadow-h2);
}

.card-wrapper{
    overflow: hidden;
    margin: 0 4px;
    padding: 10px 10px 50px;

}

.card-link{
    user-select: none;
    display: block;
    background-color: var(--main-container-bg-color);
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: var(--main-card-shadow) ;
    transition: var(--main-transition);
}

.card-link:hover{
    border: 2px solid var(--main-link-hover-color);
}

.card-link:active {
    cursor: grabbing;
}

.card-image{
    width: 100%;
    aspect-ratio: 10/11;
    object-fit: cover;
    border-radius: 10px;
}

.badge{
    color: var(--main-link-hover-color);
    padding: 8px 16px;
    font-size: .95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: var(--main-bg-color);
    width: fit-content;
    border-radius: 50px;
}

.card-title{
    font-size: 1.19rem;
    color: var(--main-black-color);
    font-weight: 600;
}

.card-button{
    height: 35px;
    width: 35px;
    color: var(--main-link-hover-color);
    border-radius: 50%;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid var(--main-link-hover-color);
    transform: rotate(-45deg);
    transition: var(--main-transition);
}

.card-button:hover{
    color: var(--main-container-bg-color);
    background: var(--main-link-hover-color);
}

.swiper-pagination-bullet{
    height: 13px;
    width: 13px;
    opacity: .5;
    background: var(--main-link-hover-color);
}

.swiper-pagination-bullet-active{
    opacity: 1;
}

.swiper-button-prev::after{
    position: relative;
    left: -10px;
    font-weight: bold;
    color: var(--main-nav-hover-color);
}

.swiper-button-next::after{
    position: relative;
    right: -10px;
    font-weight: bold;
    color: var(--main-nav-hover-color);
}